node_modules
deploy/
twentynineteen/
theme-dev-utils/
theme-dev-utils
vendor/
*.DS_Store
*.zip
*.rej
**/*.map
.ignore
.svnignore
.svn
.sandbox-config
.github_token
.wp-env.override.json
.pub-git-hash
